.Pagination {
  width: 100%;
  background-color: rgb(227, 214, 72);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pagination button {
  font-size: 1.2rem;
  background-color: rgb(227, 214, 72);
  outline: none;
  color: white;
  padding: 1rem;
  margin: 0 1rem;
  border: none;
}

.Pagination button:hover, .Pagination button:focus{
  outline: none;
  border: none;
  background-color: rgb(206, 194, 69);
  cursor: pointer;
}

.PaginationLink{
  text-decoration: none;
  color: white;
  cursor: default;
  
}