#Details{
  width: 70%;
  margin: 2rem auto;
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: 2rem;
}

#Info{
  padding: 2rem;
}

#Info h2{
  text-decoration: underline;
}

.Diets h3{
  text-transform: capitalize;
}

#RecipeImage{
  display: block;
  margin: 1rem auto;
  border-radius: 1rem;
  height: 30%;
  width: 70%;
  object-fit: cover;
  object-position: center center;
}

#SummaryAndSBS{
  padding: 2rem;
}

#SummaryAndSBS div{
  text-align: justify;
}

#SBS{
  padding: 1rem;
}

.BackButton {
  position: absolute;
  right: 4rem;
  top: 6rem;
  text-decoration: none;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  outline: none;
  border:0.5px solid rgba(227, 214, 72, 0.7);
  padding: 1rem 1.5rem ;
  background-color: rgba(227, 214, 72, 0.7);
  color: rgb(40, 40, 40)
}