#OrderingAndFiltering{
  background-color: rgb(227, 214, 72);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.DropdownButton {
  background-color: rgb(227, 214, 72);
  outline: none;
  color: white;
  padding: 1rem;
  margin: 0 1rem;
  border: none;
}

.DropdownButton:hover .DropdownButton:focus{
  outline: none;
  border: none;
  background-color: rgb(206, 194, 69);
}

.Ordering, .Filtering {
  position: relative;
  display: inline-block;
}

.Orders, .Filters {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.Orders button, .Filters button {
  width: 100%;
  border: none;
  color: black;
  padding: 12px 16px;
  display: block;
  outline: none;
}

.Orders button:hover, .Filters button:hover {
  background-color: #ddd;
}

.Ordering:hover .Orders, .Filtering:hover .Filters {
  display: block;
}

.Ordering:hover .DropdownButton, .Filtering:hover .DropdownButton {
  background-color: rgb(206, 194, 69);
}